<!DOCTYPE html>
<html>
    <head>
        <title>Human test using Palindrome</title>
    </head>
    <body>
        <div>
            <h1> Palindrome Check to verify Human input!! </h1>

            <p> Please enter a palindrom word in the box to verify if you are human.</p>

            <form action="/" method="POST">
                Word:<br>
                <input type="text" name="word" value=""><br>
                <input type="submit" value="Check">
            </form>
        </div>
    </body>
</html>